html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: url(sky.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


h1{
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-top: 20px;
  color: #78909c;
}
h2  {
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-bottom: 40px;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

table.tableForm td{
  font-size: 10px;
  color: #FFFFFF;
}

#demoButton, #espiralButton, #esquadrilhaButton{
  font-size: 30px;
  background-color: #ffff8d;
}

#confirmaButton{
  margin-top: 30px;
  font-size: 20px;
  background-color: #43a047;
}
#status{
  margin-left: 300px;
}


body {
  width: 600px;
  margin: 40 auto;
  background-color: #ff3d00;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
  border-radius: 30px
}
